<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="plum">
    <h3> Diabetes Prediction Model </h3>
    
    <form method="post" action="/prediction">
        <label> Glucose </label>
        <input type="text" name="Glucose">
        <br>
        <br>
        <label> BloodPressure </label>
        <input type="text" name="BloodPressure">
        <br>
        <br>
        <label> SkinThickness </label>
        <input type="text" name="SkinThickness">
        <br>
        <br>
        <label> Insulin </label>
        <input type="text" name="Insulin">
        <br>
        <br>
        <label> BMI </label>
        <input type="text" name="BMI">
        <br>
        <br>
        <label> DiabetesPedigreeFunction </label>
        <input type="text" name="DiabetesPedigreeFunction">
        <br>
        <br>
        <label> Age </label>
        <input type="text" name="Age">
        <br>
        <br>
        <p style="color:red">
        <input type="submit" value="Predict Diabetes">
        <br>
        <br>
        {{Result}}
        </p>

    </form>

</body>
</html>

